@import url("https://cdnjs.cloudflare.com/ajax/libs/antd/4.20.1/antd.dark.min.css");

@font-face {
  font-family: "SF Mono";
  src: url("./assets/SFMono-Regular.ttf");
}

@font-face {
  font-family: "SF Pro Regular";
  src: url("./assets/SFProDisplay-Regular.ttf");
}

* {
  font-family: "SF Pro Regular", sans-serif;
}

.editions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  margin: 20px;
  place-content: center;
  place-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#particles-js {
  width: 100%;
  min-height: calc(100vh - 64px);
  background-color: #141414;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

body {
  margin: 0;
  background-color: #141414;
}

.main-home-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-logo {
  border-radius: 50%;
  width: 50vh;
  height: 50vh;
}

#hide {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.invisible {
  opacity: 0;
}

#hide-logo-div {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.main-logo {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  overflow: hidden;
}
.rotate-logo {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.ant-layout-header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.welcome-h1 {
  font-size: 10vh;
  font-family: "SF Mono", sans-serif;
  text-align: center;
  color: #c4cfea;
}

.header-logo-and-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.scrolldown-arrow {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

section {
  background-color: #14141400;
  height: calc(100vh - 64px);
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

#main {
  height: calc(100vh - 64px);
}

.feature-icon {
  height: 20vh;
  width: 20vh;
}

.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.feature-icon {
  margin: 10%;
}

#f1,
#f2,
#f3 {
  opacity: 0;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -ms-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

#features-content {
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

#f1.visible,
#f2.visible,
#f3.visible,
#features-content.visible {
  opacity: 1;
}

.invisection div {
  opacity: 0;
  display: none;
}

@media screen and (max-width: 768px) {
  .features {
    grid-template-columns: 1fr;
    transform: none;
    position: relative;
    top: unset;
    left: unset;
  }
  #particles-js {
    height: 100vh;
  }
  .main-logo {
    width: 60vw;
    height: 60vw;
  }
  .body {
    width: 100vw;
  }
  .welcome-h1 {
    font-size: 10vw;
  }
}
